@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: estilo para scrollbar do carrossel */
::-webkit-scrollbar {
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
